<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NHL API ETL Pipeline</title>
  </head>
  <body>
    <h1>Team Form</h1>
    <form method="post" action="/submit" name="teamForm">
      <select id="teamName" name="teamId">
        <option hidden disabled selected value>Select a Team</option>
        <% for (let i = 0; i < teams.length; i++) {%>
          <option value="<%=teams[i].id%>.<%=teams[i].firstYearOfPlay%>"><%=teams[i].name%></option>
        <% } %>
      </select>
      <select disabled id="teamYear" name="teamYear">
        <option hidden disabled selected value>Select a Year</option>
      </select>
      <button id="submit">Submit</button>
    </form>
    <h1>Player Form</h1>
    <form method="post" action="/playersubmit" name="playerForm">
      <input type="text" name="playerId" placeholder="Enter Player ID">
      <input type="text" name="playerYear" placeholder="Enter Year">	
      <input type="submit" id="playerSubmit">	
    </form>
  </body>
  <script src="js/main.js"></script>
</html>